services:
  # ---------------------------------
  # SERVICIO 1: TU API
  # ---------------------------------
  mi-api:
    build: .
    restart: always
    ports:
      - "5005:5005" 
    depends_on:
      - minio 
    networks:
      - totem-network

  # ---------------------------------
  # SERVICIO 2: MINIO
  # ---------------------------------
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    restart: always
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # Puerto S3 (para acceso PÚBLICO si lo necesitas)
      - "9001:9001" # Puerto Consola Web
    networks:
      - totem-network

# Define el volumen para que Minio guarde datos
volumes:
  minio-data:

# Define la red que ambos usarán
networks:
  totem-network:
    driver: bridge