fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
pydantic
python-dotenv
bcrypt==3.2.2
passlib[bcrypt]
pyjwt
httpx
tabulate
authlib
python-multipart
email-validator
boto3
google-genai
psycopg2-binary
Pillow
itsdangerous